<h2>About The Virtuoso DBA</h2>

<p>Working as a DBA requires improving skills in at least two key areas: SQL and database administration.  Usually the paths to do so are separate: in this book we will try to unify them in a coherent manner.</p>

<h2>Features</h2>
<ul>
  <li>From simple to complex queries</li>
  <li>Source code freely available</li>
  <li>Plenty of exercises</li>
  <li>Work in progress</li>
</ul>

<p>Do you want to read the book online? Then look <a href="book">no furher</a>! On the other hand, should you prefer a printable version, please head over to <a href="https://leanpub.com/virtuosodba">Leanpub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/robertoreale/virtuosodba">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://robertoreale.me">The Author</a>
  </li>
</ul>
